<h1 id="chat">Chat</h1>



<div class="messageContainer">
    <p id="messageLogs"></p>
</div>

<div>
	<label for="chatbox" class="labelChatBox">
		<input type="text" id="chatbox" placeholder="Escribir mensaje" name="chatbox">
	</label>
</div>



<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>