<header class="userProfile">
    <a href="/home">Home</a>
	<p class="bold">¡Bienvenido al chat !</p>
    <a href="/logout" class="logout">Salir</a>
</header>



<div class="messageContainer">
    <p id="messageLogs"></p>
</div>

<div>
	<label for="chatbox" class="labelChatBox">
		<input type="text" id="chatbox" placeholder="Escribir mensaje" name="chatbox">
	</label>
</div>



<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>