<header class="userProfile">
    <div>
        <p>¡Bienvenido!</p>
        {{#if user.first_name}}<p><span class="bold">Nombre: </span>{{user.first_name}}</p>{{/if}}
        {{#if user.email}} <p><span class="bold">Email: </span>{{user.email}}</p> {{/if}}
        <p><span class="bold">Rol: </span>{{user.role}}</p>
    </div>
  
   	<a href="/products">Productos</a>
    <a href="/logout" class="logout">Salir</a>
</header>

<section class="bankData">
    <h1>Banking Data</h1>

    <form class="payment-form">
        <div id="card-element"></div>
        <button type="submit" class="button buy" id="submit-payment" data-cart-id="{{user.cart}}">Pagar</button>
        <button class="button cancel" id="cancel-payment">Cancelar</button>
    </form>

</section>

<script src="https://js.stripe.com/v3/"></script>
<script src="/js/checkout.js"></script>