<header class="userProfile">
	<div>
		<a href="/home" class="name-hype">Bienvenido a HYPE SNEAKERS</a>
		<p><span class="bold">Nombre: </span>{{user.first_name}}</p>
		<p><span class="bold">Rol: </span>{{ user.role}}</p>
	</div>

	{{#if roles.userRole}}
		
		<a href="/chat">Chat</a>
		{{/if}}
	{{#if roles.premiumRole}}
		<a href="/realtimeproducts">Inventario</a>
		<a href="/products">Productos</a>
		<a href="/chat">Chat</a>
		{{/if}}
	{{#if roles.adminRole}}
		<a href="/realtimeproducts">Inventario</a>
		<a href="/users">Usuarios</a>
		{{/if}}
    <a href="/logout" class="logout">Salir</a>
</header>



<section class="productsContainer" >
	<h1>hype sneakers 👟</h1>

		{{#if roles.userRole}}
		<a href="/products" class="prod-home"><span id="text-home">Ver los Productos</span></a>
		
		{{/if}}

</section>
