<header class="userProfile">
	<div>
		<p>¡Bienvenido !</p>
		<p><span class="bold">Nombre: </span>{{user.first_name}}</p>
		<p><span class="bold">Edad: </span>{{user.age}}</p>
		{{#if user.email}}<p><span class="bold">Email: </span>{{user.email}}</p>{{/if}}
		<p><span class="bold">Rol: </span>{{ user.role}}</p>
	</div>

	{{#if roles.userRole}}
		<a href="/products">Productos</a>
		<a href="/chat">Chat</a>
		{{/if}}
	{{#if roles.premiumRole}}
		<a href="/realtimeproducts">Inventario</a>
		<a href="/products">Productos</a>
		<a href="/chat">Chat</a>
		{{/if}}
	{{#if roles.adminRole}}
		<a href="/realtimeproducts">Inventario</a>
		<a href="/users">Usuarios</a>
		{{/if}}
    <a href="/logout" class="logout">Salir</a>
</header>



<section class="productsContainer" >
	<h1>hype sneakers 👟</h1>

</section>
