<h1 class="login">Login</h1>

<section class="loginSystem">
	<form action="/api/sessions/login"    class="form">
		<label for="email">Email:</label>
		<input type="text" name="email" id="email" required>

		<label for="password">Contraseña:</label>
		<input type="password" name="password" id="password" required>

		
		<input type="submit" id="loginButton"  value="Iniciar sesion" class="iniciar">
	</form>

	 <a href="api/sessions/github" class="socialButton">GITHUB</a>
	<a href="/register"> <span class="bold">Registrate</span> </a>
	<a href="/passwordRecovery" class="bold">Recuperar Contraseña</a>
</section>

<script src="/js/login.js"></script>


