<h2 class="recuperar">Recuperar Contraseña</h2>

<section class="loginSystem">
	<form  class="form">
		<label for="email">Email:</label>  
		<input type="text" name="email" id="email" required >

		<input type="submit" id="sendEmailButton" value="Enviar enlace">
	</form>

	<a href="/login" class="bold">login</a>
</section>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/passwordRecovery.js"></script>