<h2 class="recuperar">Recuperar Contrase単a</h2>

<section class="loginSystem">
	<form action="/api/sessions/recovery-password" method="POST" class="form">
		<label for="email">Email:</label>  
		<input type="text" name="email" id="email" required >

		<label for="password">Nueva Contrase単a:</label>
		<input type="text" name="password" id="password" required>
		
		<label for="password">Nueva Contrase単a:</label>
		<input type="text" name="password" id="password" required>


		<input type="submit" value="Resetear Contrase単a">
	</form>

	<a href="/login" class="bold">login</a>
</section>