<h2>Recuperar Contraseña</h2>

<section>
	<form action="/api/sessions/recovery-password" method="POST">
		<label for="email">Email:</label>  
		<input type="text" name="email" >

		<label for="password">Nueva Contraseña:</label>
		<input type="password" name="password" >
		<input type="submit" value="Resetear Contraseña">
	</form>
</section>