<h1>Nueva contraseña</h1>

<section>
	<form action="">
		<label for="password">Nueva contraseña</label>
		<input type="password" name="password" id="password" required>

		<input type="submit"  id="resetPasswordButton" value="Reset">
	</form>
</section>


<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/passwordRecovery.js"></script>